.badge
	display inline-block
	position relative
	vertical-align baseline
	text-decoration none
	text-transform none
	white-space nowrap

	// colors
	&_color_grey
		color #666
		background-color #f5f5f5

	&_color_black
		color #fff
		background-color #383838

	&_color_blue
		color #fff
		background-color #3498da

	&_color_dark-blue
		color #fff
		background-color #34495e

	&_color_green
		color #fff
		background-color #27ae60

	&_color_yellow
		color #fff
		background-color #f1c40f

	&_color_orange
		color #fff
		background-color #e57e22

	&_color_red
		color #fff
		background-color #e74c3c

	&_color_aqua
		color #fff
		background-color #1abcaf

	&_color_purple
		color #fff
		background-color #9b59b6

	// styles
	&_style_rounded
		border-radius em(3px)

	&_style_circle
		border-radius 50em

	&_size_extra-large
	&_size_large
	&_size_normal
	&_size_small
	&_size_extra-small
		padding 0 em(8px)


	&_size_extra-large
		font-size 150%

	&_size_large
		font-size 125%

	&_size_normal
		font-size 100%

	&_size_small
		font-size 80%

	&_size_extra-small
		font-size 70%
