include ../../alert/alert

+alert(alert.default).alert_style_rounded.alert_style_default.alert_color_grey
+alert(alert.default).alert_style_rounded.alert_style_default.alert_color_red
+alert(alert.default).alert_style_rounded.alert_style_default.alert_color_green
+alert(alert.default).alert_style_rounded.alert_style_default.alert_color_blue
