h1
h2
h3
h4
h5
h6
	font-family $heading-font-family
	font-weight $heading-font-weight
	margin $base-line-height 0 ($base-line-height / 4)
	line-height normal
	a
		&
		&:visited
			color inherit

h1
	font-size em($base-font-size + 100%)

h2
	font-size em($base-font-size + 80%)

h3
	font-size em($base-font-size + 60%)

h4
	font-size em($base-font-size + 40%)

h5
	font-size em($base-font-size + 20%)

h6
	font-size em($base-font-size)
