.dropdown
	position relative
	display inline-block

	&__trigger
		cursor pointer
		user-select none

	&__caret
		display block
		position absolute
		border-width 0 1px 1px 0
		border-style solid
		transform rotate(45deg)
		transform-origin 70% 70%
		transition 125ms all ease-in-out

	&__menu
		min-width 100%
		position absolute
		left 0
		top 100%
		z-index 100
		overflow hidden
		opacity 0
		visibility hidden
		transition 125ms all ease-in-out
		text-align left
		overflow-y auto
		-webkit-overflow-scrolling touch

	&_open &__menu
		opacity 1
		visibility visible
		z-index 100

	&_open &__caret
		transform rotate(225deg)

	&_menu_right &__menu
		left auto
		right 0

	&_style_default
		& ^[0]__trigger
			color #333
			border 1px solid #cdcdcd
			border-radius em(2px)
			background-color #fff
			line-height em(40px)
			padding em(4px) em(37px) em(4px) em(18px)
			transition 125ms background-color ease-in-out
			&:hover
				background-color #F9F9F9

		& ^[0]__caret
			size em(6px)
			right em(18px)
			top 50%
			margin-top em(-4px)

		& ^[0]__menu
			width em(200px)
			max-width em(300px)
			border-radius em(2px)
			background #fff
			box-shadow 0 0 em(7px) rgba(0, 0, 0, 0.13)
			max-height em(170px)
			overflow-y auto
			-webkit-overflow-scrolling touch
			margin-top em(-20px)
			will-change margin-top, visibility, opacity

		&^[0]_open ^[0]__menu
			margin-top em(2px)
