// Mixins
alert-color(color)
	color color - 20%
	border-color color + 50%
	background color + 90%

.alert
	position relative

	&__title
		margin 0

	&__body
		//

	&__close
		position absolute
		size 2em
		right 0
		top 0

	&_style_rounded
		border-radius em(2px)

	&_style_default
		padding em(10px) em(15px)
		margin-bottom $base-line-height
		border-width 1px
		border-style solid

	&_style_default &__title
		font-weight bold
		padding 0 2em 0.85em 0

	&_style_default &__body
		font-size em(14px)


.alert_style_default.alert_color_red
	alert-color(color: #e74c3c)

.alert_style_default.alert_color_green
	alert-color(color: #187818)

.alert_style_default.alert_color_blue
	alert-color(color: #00529c)

.alert_style_default.alert_color_grey
	alert-color(color: #000)
