.accordion
	&__item
		padding 0
		list-style none
		margin-bottom -1px

	&__trigger
		position relative
		background-color #fff
		transition 125ms all ease-in-out
		cursor pointer
		width 100%
		box-sizing border-box
		text-align left
		border none
		background transparent

		&::after
			transition 125ms all ease-in-out
			position absolute
			top 50%
			border-width 0 1px 1px 0
			border-style solid
			transform rotate(45deg)
			transform-origin 75% 75%

	&__pannel
		display none

	&__item_open &__trigger
		&::after
			transform rotate(225deg)

	// Default style
	&_style_default &__trigger
		color #333
		padding em(10px) em(50px) em(10px) em(20px)
		background-color #fff
		border 1px solid #cdcdcd
		border-radius em(2px)

		&:hover
			background-color #f9f9f9

		&::after
			content ''
			right em(20px)
			margin-top em(-5px)
			size em(6px)
			border-color #535353

	&_style_default &__pannel
		padding em(20px) em(10px)

	&_style_default &__item_active &__trigger
		background-color #f9f9f9
